$sp: 768px;

@mixin pc {
  @media screen and (min-width: ($sp)) {
    @content;
  }
}
@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}
body {
  margin: 0;
  font-family: Yu Gothic;
  font-weight: 500;
  letter-spacing: 0.075em;
}

// * {
//   outline: 2px solid blue;
// }

.l-wrap {
  @include sp {
    width: 100%;
    max-width: inherit;
  }
}

img {
  width: 100%;
}

header {
  padding: 80px 50px;

  @include sp {
    padding: 30px 0 30px 30px;
    width: 100%;
  }
}

.logo {
  position: fixed;
  z-index: 9;
  width: 150px;

  @include sp {
    width: 30%;
  }
}

.l-pcHeader {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include sp {
    height: 100px;
  }

  &__nav {
    display: flex;
    list-style: none;
    gap: 24px;

    @include sp {
      display: none;
    }

    & li {
      font-size: 16px;

      & a {
        color: black;
        text-decoration: none;
      }
    }
  }

  &__hamMenu {
    margin: 18px 30px 0 0;
  }

  &__hamburgerBox {
    width: 100vw;
    background-color: #fff;
    opacity: 0.8;
    z-index: 10;

    @include pc {
      display: none;
    }

    @include sp {
      display: none; //一旦隠す
    }

    & ul {
      display: flex;
    }
  }
}

.p-reservation {
  width: 16vw;
  display: block;
  position: fixed;
  bottom: 5%;
  right: 10%;
  z-index: 9;

  @include sp {
    width: 40vw;
    right: -25px;
    bottom: 32%;
  }

  &:hover {
    opacity: 0.8;
    transition: all 0.1s;
  }

  &__img {
    position: relative;
  }

  &__text {
    position: absolute;
    bottom: 46%;
    right: 22%;
    color: #fff;
    font-size: 1.3vw;
    font-weight: 700;
    z-index: 10;

    @include sp {
      font-size: 3.3vw;
    }
  }
}

.l-topArea {
  position: relative;
  height: 700px;
  margin: 10px 30px 50px;

  @include sp {
    width: 100vw;
    height: 600px;
  }

  &__title {
    font-size: 6rem;
    font-weight: 500;
    line-height: 0.8260869565;
    font-family: "Times New Roman";
    position: absolute;
    top: -50px;
    left: 14vw;
    z-index: 6;

    @include sp {
      font-size: 4.5rem;
      left: -20px;
      top: 5%;
    }
  }

  &__imgFrame {
    position: relative;
    height: 680px;
    overflow: hidden;
    z-index: 4;

    @include sp {
      width: 80vw;
      height: 600px;
      left: 8%;
    }
  }

  & img {
    object-fit: cover;
  }

  &__img1,
  &__img2,
  &__img3 {
    width: 67vw;
    height: 500px;
    top: 16px;
    left: 140px;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;

    @include sp {
      width: 80vw;
      left: 0;
    }
  }

  &__img1 {
    animation: slide-animation-01 16s infinite;
  }

  &__img2 {
    animation: slide-animation-02 16s infinite;
  }

  &__img3 {
    animation: slide-animation-03 16s infinite;
  }

  @keyframes slide-animation-01 {
    0% {
      opacity: 1;
    }
  }
  @keyframes slide-animation-02 {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    70% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes slide-animation-03 {
    0% {
      opacity: 0;
    }
    60% {
      opacity: 0;
    }
    70% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  &__backImg {
    width: 69vw;
    height: 400px;
    position: absolute;
    top: 0;
    left: 140px;
    z-index: 3;

    @include sp {
    width: 84vw;
    height: 500px;
    left: 8%;
    }
  }

  &__img4 {
    width: 32vw;
    height: 32vw;
    position: absolute;
    top: -45px;
    right: 28px;
    z-index: 2;

    @include sp {
      width: 54vw;
      height: 90vh;
      right: 0;
    }
  }

  &__img5 {
    width: 24vw;
    height: 225px;
    position: absolute;
    bottom: 150px;
    right: 64px;
    z-index: 5;

    @include sp {
      width: 40vw;
      height: 230px;
      bottom: 84px;
      right: 0;
    }
  }

  &__img6 {
    width: 28vw;
    height: 225px;
    position: absolute;
    bottom: 150px;
    left: 0;
    z-index: 1;

    @include sp {
      width: 46vw;
      height: 165px;
      bottom: 16px;
      left: -33px;
    }
  }

  &__fix {
    position: fixed;
    top: 150px;
    right: 0;
    margin-right: 30px;
    text-align: center;
    z-index: 6;

    @include sp {
      display: none;
    }

    & a {
      font-size: 12px;
      text-decoration: none;
      color: #333;
    }
  }

  &__lang {
    font-size: 12px;
    writing-mode: vertical-rl;
  }

  &__langJP {
    border-bottom: 1px solid #333;
    padding-bottom: 16px;
  }
}

.p-intro {
  width: 100vw;
  position: relative;
  height: 100vh;
  margin-bottom: 100px;

  @include sp {
    margin-bottom: 60vh;
  }

  &__left1 {
    width: 34vw;
    height: 28vw;
    position: absolute;
    top: 70px;
    left: 8%;
    z-index: 2;

    @include sp {
      width: 80vw;
      height: 260px;
      left: 0;
    }
  }

  &__left2 {
    width: 40vw;
    height: 28vw;
    position: absolute;
    top: 0;
    left: 5%;
    z-index: 1;

    @include sp {
      width: 88vw;
      height: 280px;
      top: 16px;
      left: 0;
    }
  }

  &__title {
    position: absolute;
    font-weight: 500;
    line-height: 0.8260869565;
    font-family: "Times New Roman";
    z-index: 3;

    @include pc {
      top: 10%;
      left: 25%;
      font-size: 3.2rem;
    }

    @include sp {
      bottom: 22%;
      left: 8%;
      font-size: 11vw;
    }
  }

  &__title:before {
    content: "";
    display: block;
    background-color: #626262;
    width: 1px;
    height: 206px;
    position: absolute;
    top: 50%;
    right: 0.1em;
    transform-origin: 0 50%;
    transform: translateY(-50%) rotate(45deg);

    @include sp {
      height: 150px;
      top: -20%;
      right: -0.55em;
    }
  }

  &__text {
    position: absolute;
    left: 48%;
    z-index: 3;
    line-height: 3;
    font-family: inherit;
    color: #626262;

    @include pc {
      top: 30%;
    }

    @include sp {
      bottom: -30%;
      left: 10%;
      font-size: 3vw;
      line-height: 3;
    }
  }

  &__right1 {
    width: 32vw;
    height: 40vw;
    position: absolute;
    bottom: 0;
    right: 3%;
    z-index: 1;

    @include sp {
      width: 45vw;
      height: 45vh;
      bottom: -46%;
      right: -30px;
    }
  }
}

.p-cafeBar {
  width: 100vw;
  position: relative;
  height: 70vh;

  @include pc {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
  }

  @include sp {
    margin-bottom: 60vh;
  }

  &__leftArea {
    width: 30vw;
  }

  &__rightArea {
    width: 30vw;
  }

  &__title {
    position: absolute;
    font-weight: 500;
    line-height: 0.8260869565;
    font-family: "Times New Roman";
    z-index: 3;

    @include pc {
      top: 10%;
      right: 20%;
      font-size: 3rem;
    }

    @include sp {
      bottom: -50px;
      right: 5%;
      font-size: 3rem;
    }
  }

  &__title:before {
    content: "";
    display: block;
    background-color: #626262;
    width: 1px;
    height: 206px;
    position: absolute;
    top: 50%;
    right: 0.1em;
    transform-origin: 0 50%;
    transform: translateY(-50%) rotate(45deg);

    @include sp {
      height: 150px;
      top: -20%;
      right: -0.55em;
    }
  }

  &__subTitle {
    margin-top: 100px;

    @include sp {
      position: absolute;
      bottom: -170px;
      left: 10%;
    }
  }

  &__text {
    color: #626262;
    font-size: 12px;
    font-family: inherit;

    @include sp {
      position: absolute;
      bottom: -256px;
      left: 10%;
      font-size: 3vw;
    }
  }

  &__img1 {
    object-fit: cover;
    position: absolute;
    transform: rotate(4deg);

    @include pc {
      width: 28vw;
      height: 36vw;
      bottom: 0;
    }

    @include sp {
      width: 67vw;
      height: 80%;
      left: 25%;
    }
  }

  &__img2 {

    object-fit: cover;
    position: absolute;
    transform: rotate(-4deg);

    @include pc {
      width: 33vw;
      height: 30vw;
      bottom: 12px;
      left: 11%;
    }

    @include sp {
      width: 68vw;
      height: 80%;
      left: 25%;
    }
  }

  &__img3 {
    object-fit: cover;
    position: absolute;

    @include pc {
      width: 28vw;
      height: 36vw;
      bottom: 0;
      transform: rotate(-5deg);
    }

    @include sp {
      width: 64vw;
      height: 80%;
      left: 25%;
      transform: rotate(5deg);
    }
  }
}

.p-menu {
  width: 100vw;
  height: 70vh;
  position: relative;

  @include pc {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
  }

  @include sp {
    margin-bottom: 60vh;
  }

  &__leftArea {
    width: 30vw;
  }

  &__rightArea {
    width: 30vw;
  }

  &__title {
    position: absolute;
    font-weight: 500;
    line-height: 0.8260869565;
    font-family: "Times New Roman";
    z-index: 3;

    @include pc {
      top: 0;
      left: 20%;
      font-size: 3.5rem;
    }

    @include sp {
      bottom: -130px;
      left: 15%;
      font-size: 3rem;
    }
  }

  &__title:before {
    content: "";
    display: block;
    background-color: #626262;
    width: 1px;
    height: 206px;
    position: absolute;
    top: 50%;
    right: 0.1em;
    transform-origin: 0 50%;
    transform: translateY(-50%) rotate(45deg);

    @include sp {
      height: 150px;
      top: -20%;
      right: -0.55em;
    }
  }

  &__subTitle {
    margin-top: 100px;

    @include sp {
      position: absolute;
      bottom: -170px;
      left: 10%;
    }
  }

  &__text {
    color: #626262;
    font-size: 12px;
    font-family: inherit;

    @include sp {
      font-size: 3vw;
      position: absolute;
      bottom: -256px;
      left: 10%;
    }
  }

  &__img1 {
    object-fit: cover;
    position: absolute;

    @include pc {
      width: 28vw;
      height: 36vw;
      bottom: 0;
      transform: rotate(-4deg);
    }

    @include sp {
      width: 80vw;
      height: 90%;
      top: 0;
      left: 20%;
      transform: rotate(-5deg);
    }
  }

  &__img2 {
    object-fit: cover;
    position: absolute;

    @include pc {
      width: 33vw;
      height: 30vw;
      bottom: 12px;
      right: 12%;
      transform: rotate(-3deg);
    }

    @include sp {
      width: 80vw;
      height: 90%;
      top: 0;
      left: 20%;
      transform: rotate(4deg);
    }
  }

  &__img3 {
    object-fit: cover;
    position: absolute;

    @include pc {
      width: 28vw;
      height: 36vw;
      bottom: 0;
      transform: rotate(3deg);
    }

    @include sp {
      width: 80vw;
      height: 90%;
      top: 0;
      left: 20%;
      transform: rotate(-5deg);
    }
  }

  &__more a {
    text-decoration: none;
    color: #000;

    @include sp {
      position: absolute;
      bottom: -70%;
      right: -8%;
      font-size: 3.2vw;
      line-height: 2.5;
    }
  }
}

.p-stay {
  width: 100vw;
  position: relative;
  height: 70vh;

  @include pc {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
  }

  @include sp {
    margin-bottom: 60vh;
  }

  &__leftArea {
    width: 30vw;
  }

  &__rightArea {
    width: 30vw;
  }

  &__title {
    position: absolute;
    font-weight: 500;
    line-height: 0.8260869565;
    font-family: "Times New Roman";
    z-index: 3;

    @include pc {
      top: 0;
      right: 20%;
      font-size: 3.5rem;
    }

    @include sp {
      bottom: -90px;
      right: 5%;
      font-size: 3rem;
    }
  }

  &__title:before {
    content: "";
    display: block;
    background-color: #626262;
    width: 1px;
    height: 206px;
    position: absolute;
    top: 50%;
    right: 0.1em;
    transform-origin: 0 50%;
    transform: translateY(-50%) rotate(45deg);

    @include sp {
      height: 150px;
      top: -20%;
      right: -0.55em;
    }
  }

  &__subTitle {
    margin-top: 100px;

    @include sp {
      position: absolute;
      bottom: -170px;
      left: 10%;
    }
  }

  &__text {
    color: #626262;
    font-size: 12px;
    font-family: inherit;

    @include sp {
      font-size: 3vw;
      position: absolute;
      bottom: -256px;
      left: 10%;
    }
  }

  &__img1 {
    object-fit: cover;
    position: absolute;

    @include pc {
      width: 30vw;
      height: 36vw;
      left: 16%;
      bottom: -16px;
      transform: rotate(1deg);
    }

    @include sp {
      width: 80vw;
      height: 90%;
      top: 0;
      left: 20%;
      transform: rotate(-5deg);
    }
  }

  &__img2 {
    width: 36vw;
    height: 30vw;
    object-fit: cover;
    position: absolute;

    @include pc {
      bottom: 12px;
      left: 12%;
      transform: rotate(4deg);
    }

    @include sp {
      width: 80vw;
      height: 90%;
      top: 0;
      left: 20%;
      transform: rotate(4deg);
    }
  }

  &__img3 {
    width: 38vw;
    height: 30vw;
    object-fit: cover;
    position: absolute;

    @include pc {
      left: 12%;
      transform: rotate(-3deg);
    }

    @include sp {
      width: 80vw;
      height: 90%;
      top: 0;
      left: 20%;
      transform: rotate(-5deg);
    }
  }

  &__more a {
    text-decoration: none;
    color: #000;

    @include sp {
      position: absolute;
      bottom: -70%;
      right: -8%;
      font-size: 3.2vw;
      line-height: 2.5;
    }
  }
}

.p-pool {
  width: 100vw;
  height: 70vh;
  position: relative;

  @include pc {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
  }

  @include sp {
    margin-bottom: 60vh;
  }

  &__leftArea {
    width: 30vw;
  }

  &__rightArea {
    width: 30vw;
  }

  &__title {
    position: absolute;
    font-weight: 500;
    line-height: 0.8260869565;
    font-family: "Times New Roman";
    z-index: 3;

    @include pc {
      top: 0;
      left: 20%;
      font-size: 3.5rem;
    }

    @include sp {
      bottom: -130px;
      left: 15%;
      font-size: 3rem;
    }
  }

  &__title:before {
    content: "";
    display: block;
    background-color: #626262;
    width: 1px;
    height: 206px;
    position: absolute;
    top: 50%;
    right: 0.1em;
    transform-origin: 0 50%;
    transform: translateY(-50%) rotate(45deg);

    @include sp {
      height: 150px;
      top: -20%;
      right: -0.55em;
    }
  }

  &__subTitle {
    margin-top: 100px;

    @include sp {
      position: absolute;
      bottom: -170px;
      left: 10%;
    }
  }

  &__text {
    color: #626262;
    font-size: 12px;
    font-family: inherit;

    @include sp {
      font-size: 3vw;
      position: absolute;
      bottom: -215px;
      left: 10%;
    }
  }

  &__img1 {
    width: 28vw;
    object-fit: cover;
    position: absolute;

    @include pc {
      height: 36vw;
      bottom: 0;
      transform: rotate(1deg);
    }

    @include sp {
      width: 80vw;
      height: 90%;
      top: 0;
      left: 20%;
      transform: rotate(-5deg);
    }
  }

  &__img2 {
    width: 28vw;
    object-fit: cover;
    position: absolute;

    @include pc {
      height: 35vw;
      bottom: 12px;
      right: 12%;
      transform: rotate(4deg);
    }

    @include sp {
      width: 80vw;
      height: 90%;
      top: 0;
      left: 20%;
      transform: rotate(4deg);
    }
  }

  &__more a {
    text-decoration: none;
    color: #000;

    @include sp {
      position: absolute;
      bottom: -70%;
      right: -8%;
      font-size: 3.2vw;
      line-height: 2.5;
    }
  }
}

.p-sauna {
  width: 100vw;
  position: relative;
  height: 70vh;

  @include pc {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
  }

  @include sp {
    margin-bottom: 60vh;
  }

  &__leftArea {
    width: 30vw;
  }

  &__rightArea {
    width: 30vw;
  }

  &__title {
    position: absolute;
    font-weight: 500;
    line-height: 0.8260869565;
    font-family: "Times New Roman";
    z-index: 3;

    @include pc {
      top: 0;
      right: 20%;
      font-size: 3.5rem;
    }

    @include sp {
      bottom: -90px;
      right: 5%;
      font-size: 3rem;
    }
  }

  &__title:before {
    content: "";
    display: block;
    background-color: #626262;
    width: 1px;
    height: 206px;
    position: absolute;
    top: 50%;
    right: 0.1em;
    transform-origin: 0 50%;
    transform: translateY(-50%) rotate(45deg);

    @include sp {
      height: 150px;
      top: -20%;
      right: -0.55em;
    }
  }

  &__subTitle {
    margin-top: 100px;

    @include sp {
      position: absolute;
      bottom: -170px;
      left: 10%;
    }
  }

  &__text {
    color: #626262;
    font-size: 12px;
    font-family: inherit;

    @include sp {
      font-size: 3vw;
      position: absolute;
      bottom: -256px;
      left: 10%;
    }
  }

  &__img1 {
    object-fit: cover;
    position: absolute;

    @include pc {
      width: 28vw;
      height: 36vw;
      left: 16%;
      bottom: -16px;
      transform: rotate(4deg);
    }

    @include sp {
      width: 80vw;
      height: 90%;
      top: 0;
      left: 20%;
      transform: rotate(-5deg);
    }
  }

  &__img2 {
    object-fit: cover;
    position: absolute;

    @include pc {
      width: 28vw;
      height: 36vw;
      bottom: 12px;
      left: 12%;
      transform: rotate(-1deg);
    }

    @include sp {
      width: 80vw;
      height: 90%;
      top: 0;
      left: 20%;
      transform: rotate(4deg);
    }
  }

  &__img3 {
    object-fit: cover;
    position: absolute;

    @include pc {
      width: 37vw;
      height: 27vw;
      left: 9%;
      bottom: 30px;
      transform: rotate(-2deg);
    }

    @include sp {
      width: 80vw;
      height: 90%;
      top: 0;
      left: 20%;
      transform: rotate(-5deg);
    }
  }

  &__more a {
    text-decoration: none;
    color: #000;

    @include sp {
      position: absolute;
      bottom: -70%;
      right: -8%;
      font-size: 3.2vw;
      line-height: 2.5;
    }
  }
}

.p-activity {
  width: 100vw;
  height: 70vh;
  position: relative;

  @include pc {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
  }

  @include sp {
    margin-bottom: 60vh;
  }

  &__leftArea {
    width: 30vw;
  }

  &__rightArea {
    width: 30vw;
  }

  &__title {
    position: absolute;
    font-weight: 500;
    line-height: 0.8260869565;
    font-family: "Times New Roman";
    z-index: 3;

    @include pc {
      top: 0;
      left: 20%;
      font-size: 3.5rem;
    }

    @include sp {
      bottom: -130px;
      left: 15%;
      font-size: 3rem;
    }
  }

  &__title:before {
    content: "";
    display: block;
    background-color: #626262;
    width: 1px;
    height: 206px;
    position: absolute;
    top: 50%;
    right: 0.1em;
    transform-origin: 0 50%;
    transform: translateY(-50%) rotate(45deg);

    @include sp {
      height: 150px;
      top: -20%;
      right: -0.55em;
    }
  }

  &__subTitle {
    margin-top: 100px;

    @include sp {
      position: absolute;
      bottom: -170px;
      left: 10%;
    }
  }

  &__text {
    color: #626262;
    font-size: 12px;
    font-family: inherit;

    @include sp {
      font-size: 3vw;
      position: absolute;
      bottom: -305px;
      left: 10%;
    }
  }

  &__img1 {
    object-fit: cover;
    position: absolute;

    @include pc {
      width: 32vw;
      height: 27vw;
      right: 74px;
      bottom: 30px;
      transform: rotate(4deg);
    }

    @include sp {
      width: 80vw;
      height: 90%;
      top: 0;
      left: 20%;
      transform: rotate(-5deg);
    }
  }

  &__img2 {
    object-fit: cover;
    position: absolute;

    @include pc {
      width: 28vw;
      height: 36vw;
      right: 90px;
      bottom: 0;
      transform: rotate(-1deg);
    }

    @include sp {
      width: 80vw;
      height: 90%;
      top: 0;
      left: 20%;
      transform: rotate(4deg);
    }
  }

  &__more a {
    text-decoration: none;
    color: #000;

    @include sp {
      position: absolute;
      bottom: -80%;
      right: -8%;
      font-size: 3.2vw;
      line-height: 2.5;
    }
  }
}

.p-journal {
  width: 100vw;
  height: 70vh;
  background-color: #e0dad4;
  position: relative;

  @include pc {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
  }

  @include sp {
    margin: 0;
  }

  &__title {
    position: absolute;
    top: 0;
    left: 20%;
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 0.8260869565;
    font-family: "Times New Roman";
    z-index: 3;

    @include sp {
      left: 10%;
      font-size: 3rem;
    }
  }

  &__title:before {
    content: "";
    display: block;
    background-color: #626262;
    width: 1px;
    height: 206px;
    position: absolute;
    top: 50%;
    right: 0.1em;
    transform-origin: 0 50%;
    transform: translateY(-50%) rotate(45deg);

    @include sp {
      height: 150px;
      top: -20%;
    }
  }

  &__list ul {
    width: 60vw;
    display: flex;
    gap: 2vw;
    justify-content: center;
    list-style: none;
    margin-top: 113px;
    padding-inline-start: 0;

    @include sp {
      width: 100vw;
      overflow: hidden;
    }
  }

  & img {
    width: 20vw;
    height: 160px;
    margin-top: 56px;
    object-fit: cover;

    @include sp {
      width: 60vw;
    }
  }

  & span {
    border-bottom: 1px solid #000;
  }

  & a {
    text-decoration: none;
    color: #000;
    text-align: left;
    font-size: 12px;
  }

  &__prev {
    font-family: icomoon !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;

    @include pc {
      display: none;
    }
  }

  &__prev:before {
    content: "";
    text-decoration: inherit;
    vertical-align: inherit;
    background-repeat: no-repeat;
    box-sizing: inherit;
  }
}

.p-access {
  width: 100vw;
  position: relative;
  margin-bottom: 100px;

  @include sp {
    margin: 10vh 0;
  }

  &__title {
    position: absolute;
    font-weight: 500;
    line-height: 0.8260869565;
    font-family: "Times New Roman";
    z-index: 3;

    @include pc {
      top: 50px;
      left: 20%;
      font-size: 3.5rem;
    }

    @include sp {
      top: 0;
      left: 15%;
      font-size: 3rem;
    }
  }

  &__title:before {
    content: "";
    display: block;
    background-color: #626262;
    width: 1px;
    height: 206px;
    position: absolute;
    top: 50%;
    right: 0.1em;
    transform-origin: 0 50%;
    transform: translateY(-50%) rotate(45deg);

    @include sp {
      height: 150px;
      top: -20%;
      right: -0.55em;
    }
  }

  &__top {
    display: flex;
    justify-content: center;
    gap: 6vw;
    align-items: center;
    padding-top: 180px;
  }

  &__leftArea {
    font-size: 12px;
    padding-top: 300px;
  }

  &__leftArea p:nth-child(4),
  :nth-child(5) {
    font-weight: 700;
  }

  &__leftArea p:nth-child(5) {
    margin-bottom: 40px;
  }

  &__googleMap {
    color: #000;
    font-size: 16px;
    border: 1px solid #000;
    background-color: #fff;
    padding: 24px 48px 24px 36px;
    text-decoration: none;
    position: relative;

    &:hover {
      color: #fff;
      background-color: #000;
    }
  }

  &__googleMap span::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../img/google_icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 29%;
    right: 10%;
  }

  &__rightArea img {
    width: 45vw;

    @include sp {
      width: 80vw;
      top: 0;
      left: 20%;
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding-top: 100px;
  }
}

.p-bottomMenu {
  width: 100vw;
  height: 30vh;
  display: flex;

  @include sp {
    height: 15vh;
  }

  & a {
    text-decoration: none;
  }

  &__access {
    width: 50vw;
    height: 30vh;
    background: url(../img/welcome.jpg) no-repeat 100% / cover;
    position: relative;
    z-index: 1;

    @include sp {
      height: 15vh;
    }
  }

  &__access::after {
    content: "";
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0.5;
  }

  &__accessTitle {
    position: absolute;
    top: calc(50% - 30px);
    right: 32px;
    z-index: 3;
    font-size: 60px;
    font-family: "Times New Roman";
    color: black;

    @include sp {
      font-size: 22px;
      top: calc(50% - 13px);
    }
  }

  &__cafeBar {
    width: 50vw;
    height: 30vh;
    background: url(../img/hotel\ dinner.jpg) no-repeat 100% / cover;
    position: relative;
    z-index: 1;

    @include sp {
      height: 15vh;
    }
  }

  &__cafeBar::after {
    content: "";
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0.5;
  }

  &__cafeBarTitle {
    position: absolute;
    top: calc(50% - 30px);
    left: 32px;
    z-index: 3;
    font-size: 60px;
    font-family: "Times New Roman";
    color: black;

    @include sp {
      font-size: 22px;
      top: calc(50% - 13px);
    }
  }
}

.l-footer {
  width: 100vw;
  background-color: #7bcccf;
  color: #fff;
  font-size: 11px;

  &__top {
    padding: 100px 0 0 250px;
  }

  & a {
    color: #fff;
    text-decoration: none;
  }

  &__logo {
    width: 120px;
  }

  &__flex {

    @include pc {
      display: flex;
      gap: 10vw;
      line-height: 1.4;
      font-weight: 550;
    }
  }

  &__infoArea {
    @include pc {
      display: flex;
      gap: 2vw;
      align-items: end;
      margin-bottom: 50px;
    }
  }

  &__leftInfo2 img {
    width: 14px;
  }

  &__rightInfo a:hover {
    opacity: 0.7;
    transition: all 0.1s;
  }

  &__menuList {

    @include pc {
      display: flex;
      gap: 2vw;
      align-items: center;
    }
  }

  &__menuList ul {
    margin: 0;
  }

  &__menuList ul li {
    list-style: none;

    & a:hover {
      opacity: 0.7;
      transition: all 0.1s;
    }
  }

  &__listPadding {
    padding-top: 2vw;

    & h2 {
      margin: 0;
    }

    & p {
      margin: 0;
    }
  }

  & h2:first-child {
    margin-top: 0;
  }

  &__others {
    background-color: black;
    padding: 100px;
    margin: 16px 0 0 250px;

    @include sp {
      margin: 16px 0 0 36px;
    }
  }

  &__hotels {

    @include pc {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 4vw;
      margin-top: 40px;
    }

    & a:hover {
      opacity: 0.7;
      transition: all 0.1s;
    }

    & li {
      width: 20%;
      list-style: none;
    }

    & li img {
      width: 80px;
    }
  }

  & small {
    margin-left: 250px;
  }
}