body {
  margin: 0;
  font-family: Yu Gothic;
  font-weight: 500;
  letter-spacing: 0.075em;
}

img {
  width: 100%;
}

header {
  margin: 80px 50px;
  height: 750px;
}

.logo {
  position: fixed;
  z-index: 9;
}

.l-pcHeader {
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.l-pcHeader__nav {
  display: flex;
  list-style: none;
  gap: 24px;
}
@media screen and (max-width: 768px) {
  .l-pcHeader__nav {
    display: none;
  }
}
.l-pcHeader__nav li {
  font-size: 16px;
}
.l-pcHeader__nav li a {
  color: black;
  text-decoration: none;
}
.l-pcHeader__hamMenu {
  margin-top: 18px;
}
.l-pcHeader__hamburgerBox {
  width: 100%;
  background-color: #fff;
  opacity: 0.8;
  z-index: 10;
}
@media screen and (min-width: 768px) {
  .l-pcHeader__hamburgerBox {
    display: none;
  }
}
.l-pcHeader__hamburgerBox ul {
  display: flex;
}

.p-reservation {
  width: 16vw;
  position: fixed;
  bottom: 5%;
  right: 10%;
  z-index: 9;
}
.p-reservation__img {
  position: relative;
}
.p-reservation__text {
  position: absolute;
  bottom: 46%;
  right: 22%;
  color: #fff;
  font-size: 1.3vw;
  font-weight: 700;
  z-index: 10;
}

.l-topArea {
  position: relative;
  height: 700px;
  margin: 10px 30px 50px;
}
.l-topArea__title {
  font-size: 7.1875rem;
  font-weight: 500;
  line-height: 0.8260869565;
  font-family: "Times New Roman";
  position: absolute;
  top: -80px;
  left: 14vw;
  z-index: 6;
}
.l-topArea__img1 {
  width: 60vw;
  position: absolute;
  top: 16px;
  left: 140px;
  z-index: 4;
}
.l-topArea__backImg {
  width: 62.3vw;
  height: 400px;
  position: absolute;
  left: 140px;
  z-index: 3;
}
.l-topArea__img2 {
  width: 32vw;
  height: 32vw;
  position: absolute;
  top: -45px;
  right: 28px;
  z-index: 2;
}
.l-topArea__img3 {
  width: 24vw;
  height: 225px;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  bottom: 150px;
  right: 64px;
  z-index: 5;
}
.l-topArea__img4 {
  width: 28vw;
  height: 225px;
  position: absolute;
  bottom: 130px;
  left: 0;
  z-index: 1;
}
.l-topArea__fix {
  position: fixed;
  top: 150px;
  right: 0;
  margin-right: 30px;
  text-align: center;
  z-index: 6;
}
.l-topArea__fix a {
  font-size: 12px;
  text-decoration: none;
  color: #333;
}
.l-topArea__lang {
  font-size: 12px;
  writing-mode: vertical-rl;
}
.l-topArea__langJP {
  border-bottom: 1px solid #333;
  margin-bottom: 16px;
}

.p-intro {
  position: relative;
  height: 100vh;
  margin-bottom: 100px;
}
.p-intro__left1 {
  width: 34vw;
  height: 28vw;
  position: absolute;
  top: 70px;
  left: 8%;
  z-index: 2;
}
.p-intro__left2 {
  width: 40vw;
  height: 28vw;
  position: absolute;
  top: 0;
  left: 5%;
  z-index: 1;
}
.p-intro__title {
  position: absolute;
  top: 10%;
  left: 25%;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 0.8260869565;
  font-family: "Times New Roman";
  z-index: 3;
}
.p-intro__title:before {
  content: "";
  display: block;
  background-color: #626262;
  width: 1px;
  height: 206px;
  position: absolute;
  top: 50%;
  right: 0.1em;
  transform-origin: 0 50%;
  transform: translateY(-50%) rotate(45deg);
}
.p-intro__text {
  position: absolute;
  top: 30%;
  left: 48%;
  z-index: 3;
}
.p-intro__right1 {
  width: 32vw;
  height: 40vw;
  position: absolute;
  bottom: 0;
  right: 3%;
  z-index: 1;
}
.p-intro__right1:after {
  content: "";
  background: url(../../assets/img/suna.jpg) no-repeat 50% 50%/cover;
  width: 50.248%;
  padding-bottom: 71.782%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.p-cafeBar {
  position: relative;
  height: 70vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 100px;
}
.p-cafeBar__leftArea {
  width: 30vw;
}
.p-cafeBar__rightArea {
  width: 30vw;
}
.p-cafeBar__title {
  position: absolute;
  top: 10%;
  right: 20%;
  font-size: 3rem;
  font-weight: 500;
  line-height: 0.8260869565;
  font-family: "Times New Roman";
  z-index: 3;
}
.p-cafeBar__title:before {
  content: "";
  display: block;
  background-color: #626262;
  width: 1px;
  height: 206px;
  position: absolute;
  top: 50%;
  right: 0.1em;
  transform-origin: 0 50%;
  transform: translateY(-50%) rotate(45deg);
}
.p-cafeBar__img1 {
  width: 28vw;
  height: 36vw;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  bottom: 0;
}
.p-cafeBar__img2 {
  width: 36vw;
  height: 30vw;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  bottom: 0;
}

.p-menu {
  height: 70vh;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 100px;
}
.p-menu__leftArea {
  width: 30vw;
}
.p-menu__rightArea {
  width: 30vw;
}
.p-menu__title {
  position: absolute;
  top: 10%;
  left: 20%;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 0.8260869565;
  font-family: "Times New Roman";
  z-index: 3;
}
.p-menu__title:before {
  content: "";
  display: block;
  background-color: #626262;
  width: 1px;
  height: 206px;
  position: absolute;
  top: 50%;
  right: 0.1em;
  transform-origin: 0 50%;
  transform: translateY(-50%) rotate(45deg);
}
.p-menu__img1 {
  width: 28vw;
  height: 36vw;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  bottom: 0;
}
.p-menu__img2 {
  width: 36vw;
  height: 30vw;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  bottom: 0;
}

.p-stay {
  position: relative;
  height: 70vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 100px;
}
.p-stay__leftArea {
  width: 30vw;
}
.p-stay__rightArea {
  width: 30vw;
}
.p-stay__title {
  position: absolute;
  top: 10%;
  right: 20%;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 0.8260869565;
  font-family: "Times New Roman";
  z-index: 3;
}
.p-stay__title:before {
  content: "";
  display: block;
  background-color: #626262;
  width: 1px;
  height: 206px;
  position: absolute;
  top: 50%;
  right: 0.1em;
  transform-origin: 0 50%;
  transform: translateY(-50%) rotate(45deg);
}
.p-stay__img1 {
  width: 28vw;
  height: 36vw;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  bottom: 0;
}
.p-stay__img2 {
  width: 36vw;
  height: 30vw;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  bottom: 0;
}

.p-pool {
  height: 70vh;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 100px;
}
.p-pool__leftArea {
  width: 30vw;
}
.p-pool__rightArea {
  width: 30vw;
}
.p-pool__title {
  position: absolute;
  top: 10%;
  left: 20%;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 0.8260869565;
  font-family: "Times New Roman";
  z-index: 3;
}
.p-pool__title:before {
  content: "";
  display: block;
  background-color: #626262;
  width: 1px;
  height: 206px;
  position: absolute;
  top: 50%;
  right: 0.1em;
  transform-origin: 0 50%;
  transform: translateY(-50%) rotate(45deg);
}
.p-pool__img1 {
  width: 28vw;
  height: 36vw;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  bottom: 0;
}
.p-pool__img2 {
  width: 36vw;
  height: 30vw;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  bottom: 0;
}

.p-sauna {
  position: relative;
  height: 70vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 100px;
}
.p-sauna__leftArea {
  width: 30vw;
}
.p-sauna__rightArea {
  width: 30vw;
}
.p-sauna__title {
  position: absolute;
  top: 10%;
  right: 20%;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 0.8260869565;
  font-family: "Times New Roman";
  z-index: 3;
}
.p-sauna__title:before {
  content: "";
  display: block;
  background-color: #626262;
  width: 1px;
  height: 206px;
  position: absolute;
  top: 50%;
  right: 0.1em;
  transform-origin: 0 50%;
  transform: translateY(-50%) rotate(45deg);
}
.p-sauna__img1 {
  width: 28vw;
  height: 36vw;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  bottom: 0;
}
.p-sauna__img2 {
  width: 36vw;
  height: 30vw;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  bottom: 0;
}

.p-activity {
  height: 70vh;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 100px;
}
.p-activity__leftArea {
  width: 30vw;
}
.p-activity__rightArea {
  width: 30vw;
}
.p-activity__title {
  position: absolute;
  top: 10%;
  left: 20%;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 0.8260869565;
  font-family: "Times New Roman";
  z-index: 3;
}
.p-activity__title:before {
  content: "";
  display: block;
  background-color: #626262;
  width: 1px;
  height: 206px;
  position: absolute;
  top: 50%;
  right: 0.1em;
  transform-origin: 0 50%;
  transform: translateY(-50%) rotate(45deg);
}
.p-activity__img1 {
  width: 28vw;
  height: 36vw;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  bottom: 0;
}
.p-activity__img2 {
  width: 36vw;
  height: 30vw;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  bottom: 0;
}

.p-journal {
  height: 70vh;
  background-color: #e0dad4;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 100px;
}
.p-journal__title {
  position: absolute;
  top: 10%;
  left: 20%;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 0.8260869565;
  font-family: "Times New Roman";
  z-index: 3;
}
.p-journal__title:before {
  content: "";
  display: block;
  background-color: #626262;
  width: 1px;
  height: 206px;
  position: absolute;
  top: 50%;
  right: 0.1em;
  transform-origin: 0 50%;
  transform: translateY(-50%) rotate(45deg);
}
.p-journal__list ul {
  width: 60vw;
  display: flex;
  gap: 2vw;
  justify-content: center;
  list-style: none;
}
.p-journal__img1 {
  width: 20vw;
  height: 180px;
  margin-top: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-access {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 100px;
}
.p-access__title {
  position: absolute;
  top: 10%;
  left: 20%;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 0.8260869565;
  font-family: "Times New Roman";
  z-index: 3;
}
.p-access__title:before {
  content: "";
  display: block;
  background-color: #626262;
  width: 1px;
  height: 206px;
  position: absolute;
  top: 50%;
  right: 0.1em;
  transform-origin: 0 50%;
  transform: translateY(-50%) rotate(45deg);
}

.p-bottomMenu {
  height: 30vh;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-bottomMenu a {
  text-decoration: none;
}
.p-bottomMenu__access {
  width: 50vw;
  height: 32vh;
  background: url(../img/welcome.jpg) no-repeat 100%/cover;
  position: relative;
  z-index: 1;
}
.p-bottomMenu__access::after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.5;
}
.p-bottomMenu__accessTitle {
  position: absolute;
  top: calc(50% - 30px);
  right: 32px;
  z-index: 3;
  font-size: 60px;
  font-family: "Times New Roman";
  color: black;
}
.p-bottomMenu__cafeBar {
  width: 50vw;
  height: 32vh;
  background: url(../img/hotel\ dinner.jpg) no-repeat 100%/cover;
  position: relative;
  z-index: 1;
}
.p-bottomMenu__cafeBar::after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.5;
}
.p-bottomMenu__cafeBarTitle {
  position: absolute;
  top: calc(50% - 30px);
  left: 32px;
  z-index: 3;
  font-size: 60px;
  font-family: "Times New Roman";
  color: black;
}

.l-footer {
  background-color: #7bcccf;
  color: #fff;
  font-size: 12px;
}
.l-footer a {
  color: #fff;
  text-decoration: none;
}
.l-footer__logo {
  padding: 100px 0 0 250px;
}
.l-footer__flex {
  display: flex;
  padding: 20px 0 0 250px;
}
.l-footer__infoArea {
  display: flex;
  gap: 2vw;
}
.l-footer__rightInfo2 img {
  width: 16px;
}
.l-footer__menuList {
  display: flex;
  gap: 2vw;
}
.l-footer__others {
  background-color: black;
  width: 75vw;
  margin: 0 0 0 250px;
  padding: 100px;
}
.l-footer__others img {
  width: 90px;
}/*# sourceMappingURL=style.css.map */