body {
  margin: 0;
  font-family: Yu Gothic;
  font-weight: 500;
  letter-spacing: 0.075em;
}

@media screen and (max-width: 768px) {
  .l-wrap {
    width: 100%;
    max-width: inherit;
  }
}

img {
  width: 100%;
}

header {
  padding: 80px 50px;
}
@media screen and (max-width: 768px) {
  header {
    padding: 30px 0 30px 30px;
    width: 100%;
  }
}

.logo {
  position: fixed;
  z-index: 9;
  width: 150px;
}
@media screen and (max-width: 768px) {
  .logo {
    width: 30%;
  }
}

.l-pcHeader {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (max-width: 768px) {
  .l-pcHeader {
    height: 100px;
  }
}
.l-pcHeader__nav {
  display: flex;
  list-style: none;
  gap: 24px;
}
@media screen and (max-width: 768px) {
  .l-pcHeader__nav {
    display: none;
  }
}
.l-pcHeader__nav li {
  font-size: 16px;
}
.l-pcHeader__nav li a {
  color: black;
  text-decoration: none;
}
.l-pcHeader__hamMenu {
  margin: 18px 30px 0 0;
}
.l-pcHeader__hamburgerBox {
  width: 100vw;
  background-color: #fff;
  opacity: 0.8;
  z-index: 10;
}
@media screen and (min-width: 768px) {
  .l-pcHeader__hamburgerBox {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .l-pcHeader__hamburgerBox {
    display: none;
  }
}
.l-pcHeader__hamburgerBox ul {
  display: flex;
}

.p-reservation {
  width: 16vw;
  display: block;
  position: fixed;
  bottom: 5%;
  right: 10%;
  z-index: 9;
}
@media screen and (max-width: 768px) {
  .p-reservation {
    width: 40vw;
    right: -25px;
    bottom: 32%;
  }
}
.p-reservation:hover {
  opacity: 0.8;
  transition: all 0.1s;
}
.p-reservation__img {
  position: relative;
}
.p-reservation__text {
  position: absolute;
  bottom: 46%;
  right: 22%;
  color: #fff;
  font-size: 1.3vw;
  font-weight: 700;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .p-reservation__text {
    font-size: 3.3vw;
  }
}

.l-topArea {
  position: relative;
  height: 700px;
  margin: 10px 30px 50px;
}
@media screen and (max-width: 768px) {
  .l-topArea {
    width: 100vw;
    height: 600px;
  }
}
.l-topArea__title {
  font-size: 6rem;
  font-weight: 500;
  line-height: 0.8260869565;
  font-family: "Times New Roman";
  position: absolute;
  top: -50px;
  left: 14vw;
  z-index: 6;
}
@media screen and (max-width: 768px) {
  .l-topArea__title {
    font-size: 4.5rem;
    left: -20px;
    top: 5%;
  }
}
.l-topArea__imgFrame {
  position: relative;
  height: 680px;
  overflow: hidden;
  z-index: 4;
}
@media screen and (max-width: 768px) {
  .l-topArea__imgFrame {
    width: 80vw;
    height: 600px;
    left: 8%;
  }
}
.l-topArea img {
  -o-object-fit: cover;
     object-fit: cover;
}
.l-topArea__img1, .l-topArea__img2, .l-topArea__img3 {
  width: 67vw;
  height: 500px;
  top: 16px;
  left: 140px;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .l-topArea__img1, .l-topArea__img2, .l-topArea__img3 {
    width: 80vw;
    left: 0;
  }
}
.l-topArea__img1 {
  animation: slide-animation-01 16s infinite;
}
.l-topArea__img2 {
  animation: slide-animation-02 16s infinite;
}
.l-topArea__img3 {
  animation: slide-animation-03 16s infinite;
}
@keyframes slide-animation-01 {
  0% {
    opacity: 1;
  }
}
@keyframes slide-animation-02 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-animation-03 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.l-topArea__backImg {
  width: 69vw;
  height: 400px;
  position: absolute;
  top: 0;
  left: 140px;
  z-index: 3;
}
@media screen and (max-width: 768px) {
  .l-topArea__backImg {
    width: 84vw;
    height: 500px;
    left: 8%;
  }
}
.l-topArea__img4 {
  width: 32vw;
  height: 32vw;
  position: absolute;
  top: -45px;
  right: 28px;
  z-index: 2;
}
@media screen and (max-width: 768px) {
  .l-topArea__img4 {
    width: 54vw;
    height: 90vh;
    right: 0;
  }
}
.l-topArea__img5 {
  width: 24vw;
  height: 225px;
  position: absolute;
  bottom: 150px;
  right: 64px;
  z-index: 5;
}
@media screen and (max-width: 768px) {
  .l-topArea__img5 {
    width: 40vw;
    height: 230px;
    bottom: 84px;
    right: 0;
  }
}
.l-topArea__img6 {
  width: 28vw;
  height: 225px;
  position: absolute;
  bottom: 150px;
  left: 0;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .l-topArea__img6 {
    width: 46vw;
    height: 165px;
    bottom: 16px;
    left: -33px;
  }
}
.l-topArea__fix {
  position: fixed;
  top: 150px;
  right: 0;
  margin-right: 30px;
  text-align: center;
  z-index: 6;
}
@media screen and (max-width: 768px) {
  .l-topArea__fix {
    display: none;
  }
}
.l-topArea__fix a {
  font-size: 12px;
  text-decoration: none;
  color: #333;
}
.l-topArea__lang {
  font-size: 12px;
  writing-mode: vertical-rl;
}
.l-topArea__langJP {
  border-bottom: 1px solid #333;
  padding-bottom: 16px;
}

.p-intro {
  width: 100vw;
  position: relative;
  height: 100vh;
  margin-bottom: 100px;
}
@media screen and (max-width: 768px) {
  .p-intro {
    margin-bottom: 60vh;
  }
}
.p-intro__left1 {
  width: 34vw;
  height: 28vw;
  position: absolute;
  top: 70px;
  left: 8%;
  z-index: 2;
}
@media screen and (max-width: 768px) {
  .p-intro__left1 {
    width: 80vw;
    height: 260px;
    left: 0;
  }
}
.p-intro__left2 {
  width: 40vw;
  height: 28vw;
  position: absolute;
  top: 0;
  left: 5%;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .p-intro__left2 {
    width: 88vw;
    height: 280px;
    top: 16px;
    left: 0;
  }
}
.p-intro__title {
  position: absolute;
  font-weight: 500;
  line-height: 0.8260869565;
  font-family: "Times New Roman";
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .p-intro__title {
    top: 10%;
    left: 25%;
    font-size: 3.2rem;
  }
}
@media screen and (max-width: 768px) {
  .p-intro__title {
    bottom: 22%;
    left: 8%;
    font-size: 11vw;
  }
}
.p-intro__title:before {
  content: "";
  display: block;
  background-color: #626262;
  width: 1px;
  height: 206px;
  position: absolute;
  top: 50%;
  right: 0.1em;
  transform-origin: 0 50%;
  transform: translateY(-50%) rotate(45deg);
}
@media screen and (max-width: 768px) {
  .p-intro__title:before {
    height: 150px;
    top: -20%;
    right: -0.55em;
  }
}
.p-intro__text {
  position: absolute;
  left: 48%;
  z-index: 3;
  line-height: 3;
  font-family: inherit;
  color: #626262;
}
@media screen and (min-width: 768px) {
  .p-intro__text {
    top: 30%;
  }
}
@media screen and (max-width: 768px) {
  .p-intro__text {
    bottom: -30%;
    left: 10%;
    font-size: 3vw;
    line-height: 3;
  }
}
.p-intro__right1 {
  width: 32vw;
  height: 40vw;
  position: absolute;
  bottom: 0;
  right: 3%;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .p-intro__right1 {
    width: 45vw;
    height: 45vh;
    bottom: -46%;
    right: -30px;
  }
}

.p-cafeBar {
  width: 100vw;
  position: relative;
  height: 70vh;
}
@media screen and (min-width: 768px) {
  .p-cafeBar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 768px) {
  .p-cafeBar {
    margin-bottom: 60vh;
  }
}
.p-cafeBar__leftArea {
  width: 30vw;
}
.p-cafeBar__rightArea {
  width: 30vw;
}
.p-cafeBar__title {
  position: absolute;
  font-weight: 500;
  line-height: 0.8260869565;
  font-family: "Times New Roman";
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .p-cafeBar__title {
    top: 10%;
    right: 20%;
    font-size: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .p-cafeBar__title {
    bottom: -50px;
    right: 5%;
    font-size: 3rem;
  }
}
.p-cafeBar__title:before {
  content: "";
  display: block;
  background-color: #626262;
  width: 1px;
  height: 206px;
  position: absolute;
  top: 50%;
  right: 0.1em;
  transform-origin: 0 50%;
  transform: translateY(-50%) rotate(45deg);
}
@media screen and (max-width: 768px) {
  .p-cafeBar__title:before {
    height: 150px;
    top: -20%;
    right: -0.55em;
  }
}
.p-cafeBar__subTitle {
  margin-top: 100px;
}
@media screen and (max-width: 768px) {
  .p-cafeBar__subTitle {
    position: absolute;
    bottom: -170px;
    left: 10%;
  }
}
.p-cafeBar__text {
  color: #626262;
  font-size: 12px;
  font-family: inherit;
}
@media screen and (max-width: 768px) {
  .p-cafeBar__text {
    position: absolute;
    bottom: -256px;
    left: 10%;
    font-size: 3vw;
  }
}
.p-cafeBar__img1 {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  transform: rotate(4deg);
}
@media screen and (min-width: 768px) {
  .p-cafeBar__img1 {
    width: 28vw;
    height: 36vw;
    bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  .p-cafeBar__img1 {
    width: 67vw;
    height: 80%;
    left: 25%;
  }
}
.p-cafeBar__img2 {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  transform: rotate(-4deg);
}
@media screen and (min-width: 768px) {
  .p-cafeBar__img2 {
    width: 33vw;
    height: 30vw;
    bottom: 12px;
    left: 11%;
  }
}
@media screen and (max-width: 768px) {
  .p-cafeBar__img2 {
    width: 68vw;
    height: 80%;
    left: 25%;
  }
}
.p-cafeBar__img3 {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
@media screen and (min-width: 768px) {
  .p-cafeBar__img3 {
    width: 28vw;
    height: 36vw;
    bottom: 0;
    transform: rotate(-5deg);
  }
}
@media screen and (max-width: 768px) {
  .p-cafeBar__img3 {
    width: 64vw;
    height: 80%;
    left: 25%;
    transform: rotate(5deg);
  }
}

.p-menu {
  width: 100vw;
  height: 70vh;
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 768px) {
  .p-menu {
    margin-bottom: 60vh;
  }
}
.p-menu__leftArea {
  width: 30vw;
}
.p-menu__rightArea {
  width: 30vw;
}
.p-menu__title {
  position: absolute;
  font-weight: 500;
  line-height: 0.8260869565;
  font-family: "Times New Roman";
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .p-menu__title {
    top: 0;
    left: 20%;
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 768px) {
  .p-menu__title {
    bottom: -130px;
    left: 15%;
    font-size: 3rem;
  }
}
.p-menu__title:before {
  content: "";
  display: block;
  background-color: #626262;
  width: 1px;
  height: 206px;
  position: absolute;
  top: 50%;
  right: 0.1em;
  transform-origin: 0 50%;
  transform: translateY(-50%) rotate(45deg);
}
@media screen and (max-width: 768px) {
  .p-menu__title:before {
    height: 150px;
    top: -20%;
    right: -0.55em;
  }
}
.p-menu__subTitle {
  margin-top: 100px;
}
@media screen and (max-width: 768px) {
  .p-menu__subTitle {
    position: absolute;
    bottom: -170px;
    left: 10%;
  }
}
.p-menu__text {
  color: #626262;
  font-size: 12px;
  font-family: inherit;
}
@media screen and (max-width: 768px) {
  .p-menu__text {
    font-size: 3vw;
    position: absolute;
    bottom: -256px;
    left: 10%;
  }
}
.p-menu__img1 {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
@media screen and (min-width: 768px) {
  .p-menu__img1 {
    width: 28vw;
    height: 36vw;
    bottom: 0;
    transform: rotate(-4deg);
  }
}
@media screen and (max-width: 768px) {
  .p-menu__img1 {
    width: 80vw;
    height: 90%;
    top: 0;
    left: 20%;
    transform: rotate(-5deg);
  }
}
.p-menu__img2 {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
@media screen and (min-width: 768px) {
  .p-menu__img2 {
    width: 33vw;
    height: 30vw;
    bottom: 12px;
    right: 12%;
    transform: rotate(-3deg);
  }
}
@media screen and (max-width: 768px) {
  .p-menu__img2 {
    width: 80vw;
    height: 90%;
    top: 0;
    left: 20%;
    transform: rotate(4deg);
  }
}
.p-menu__img3 {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
@media screen and (min-width: 768px) {
  .p-menu__img3 {
    width: 28vw;
    height: 36vw;
    bottom: 0;
    transform: rotate(3deg);
  }
}
@media screen and (max-width: 768px) {
  .p-menu__img3 {
    width: 80vw;
    height: 90%;
    top: 0;
    left: 20%;
    transform: rotate(-5deg);
  }
}
.p-menu__more a {
  text-decoration: none;
  color: #000;
}
@media screen and (max-width: 768px) {
  .p-menu__more a {
    position: absolute;
    bottom: -70%;
    right: -8%;
    font-size: 3.2vw;
    line-height: 2.5;
  }
}

.p-stay {
  width: 100vw;
  position: relative;
  height: 70vh;
}
@media screen and (min-width: 768px) {
  .p-stay {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 768px) {
  .p-stay {
    margin-bottom: 60vh;
  }
}
.p-stay__leftArea {
  width: 30vw;
}
.p-stay__rightArea {
  width: 30vw;
}
.p-stay__title {
  position: absolute;
  font-weight: 500;
  line-height: 0.8260869565;
  font-family: "Times New Roman";
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .p-stay__title {
    top: 0;
    right: 20%;
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 768px) {
  .p-stay__title {
    bottom: -90px;
    right: 5%;
    font-size: 3rem;
  }
}
.p-stay__title:before {
  content: "";
  display: block;
  background-color: #626262;
  width: 1px;
  height: 206px;
  position: absolute;
  top: 50%;
  right: 0.1em;
  transform-origin: 0 50%;
  transform: translateY(-50%) rotate(45deg);
}
@media screen and (max-width: 768px) {
  .p-stay__title:before {
    height: 150px;
    top: -20%;
    right: -0.55em;
  }
}
.p-stay__subTitle {
  margin-top: 100px;
}
@media screen and (max-width: 768px) {
  .p-stay__subTitle {
    position: absolute;
    bottom: -170px;
    left: 10%;
  }
}
.p-stay__text {
  color: #626262;
  font-size: 12px;
  font-family: inherit;
}
@media screen and (max-width: 768px) {
  .p-stay__text {
    font-size: 3vw;
    position: absolute;
    bottom: -256px;
    left: 10%;
  }
}
.p-stay__img1 {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
@media screen and (min-width: 768px) {
  .p-stay__img1 {
    width: 30vw;
    height: 36vw;
    left: 16%;
    bottom: -16px;
    transform: rotate(1deg);
  }
}
@media screen and (max-width: 768px) {
  .p-stay__img1 {
    width: 80vw;
    height: 90%;
    top: 0;
    left: 20%;
    transform: rotate(-5deg);
  }
}
.p-stay__img2 {
  width: 36vw;
  height: 30vw;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
@media screen and (min-width: 768px) {
  .p-stay__img2 {
    bottom: 12px;
    left: 12%;
    transform: rotate(4deg);
  }
}
@media screen and (max-width: 768px) {
  .p-stay__img2 {
    width: 80vw;
    height: 90%;
    top: 0;
    left: 20%;
    transform: rotate(4deg);
  }
}
.p-stay__img3 {
  width: 38vw;
  height: 30vw;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
@media screen and (min-width: 768px) {
  .p-stay__img3 {
    bottom: 12px;
    left: 12%;
    transform: rotate(-3deg);
  }
}
@media screen and (max-width: 768px) {
  .p-stay__img3 {
    width: 80vw;
    height: 90%;
    top: 0;
    left: 20%;
    transform: rotate(-5deg);
  }
}
.p-stay__more a {
  text-decoration: none;
  color: #000;
}
@media screen and (max-width: 768px) {
  .p-stay__more a {
    position: absolute;
    bottom: -70%;
    right: -8%;
    font-size: 3.2vw;
    line-height: 2.5;
  }
}

.p-pool {
  width: 100vw;
  height: 70vh;
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-pool {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 768px) {
  .p-pool {
    margin-bottom: 60vh;
  }
}
.p-pool__leftArea {
  width: 30vw;
}
.p-pool__rightArea {
  width: 30vw;
}
.p-pool__title {
  position: absolute;
  font-weight: 500;
  line-height: 0.8260869565;
  font-family: "Times New Roman";
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .p-pool__title {
    top: 0;
    left: 20%;
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 768px) {
  .p-pool__title {
    bottom: -130px;
    left: 15%;
    font-size: 3rem;
  }
}
.p-pool__title:before {
  content: "";
  display: block;
  background-color: #626262;
  width: 1px;
  height: 206px;
  position: absolute;
  top: 50%;
  right: 0.1em;
  transform-origin: 0 50%;
  transform: translateY(-50%) rotate(45deg);
}
@media screen and (max-width: 768px) {
  .p-pool__title:before {
    height: 150px;
    top: -20%;
    right: -0.55em;
  }
}
.p-pool__subTitle {
  margin-top: 100px;
}
@media screen and (max-width: 768px) {
  .p-pool__subTitle {
    position: absolute;
    bottom: -170px;
    left: 10%;
  }
}
.p-pool__text {
  color: #626262;
  font-size: 12px;
  font-family: inherit;
}
@media screen and (max-width: 768px) {
  .p-pool__text {
    font-size: 3vw;
    position: absolute;
    bottom: -215px;
    left: 10%;
  }
}
.p-pool__img1 {
  width: 28vw;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
@media screen and (min-width: 768px) {
  .p-pool__img1 {
    height: 36vw;
    bottom: 0;
    transform: rotate(1deg);
  }
}
@media screen and (max-width: 768px) {
  .p-pool__img1 {
    width: 80vw;
    height: 90%;
    top: 0;
    left: 20%;
    transform: rotate(-5deg);
  }
}
.p-pool__img2 {
  width: 28vw;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
@media screen and (min-width: 768px) {
  .p-pool__img2 {
    height: 35vw;
    bottom: 12px;
    right: 12%;
    transform: rotate(4deg);
  }
}
@media screen and (max-width: 768px) {
  .p-pool__img2 {
    width: 80vw;
    height: 90%;
    top: 0;
    left: 20%;
    transform: rotate(4deg);
  }
}
.p-pool__more a {
  text-decoration: none;
  color: #000;
}
@media screen and (max-width: 768px) {
  .p-pool__more a {
    position: absolute;
    bottom: -70%;
    right: -8%;
    font-size: 3.2vw;
    line-height: 2.5;
  }
}

.p-sauna {
  width: 100vw;
  position: relative;
  height: 70vh;
}
@media screen and (min-width: 768px) {
  .p-sauna {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 768px) {
  .p-sauna {
    margin-bottom: 60vh;
  }
}
.p-sauna__leftArea {
  width: 30vw;
}
.p-sauna__rightArea {
  width: 30vw;
}
.p-sauna__title {
  position: absolute;
  font-weight: 500;
  line-height: 0.8260869565;
  font-family: "Times New Roman";
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .p-sauna__title {
    top: 0;
    right: 20%;
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 768px) {
  .p-sauna__title {
    bottom: -90px;
    right: 5%;
    font-size: 3rem;
  }
}
.p-sauna__title:before {
  content: "";
  display: block;
  background-color: #626262;
  width: 1px;
  height: 206px;
  position: absolute;
  top: 50%;
  right: 0.1em;
  transform-origin: 0 50%;
  transform: translateY(-50%) rotate(45deg);
}
@media screen and (max-width: 768px) {
  .p-sauna__title:before {
    height: 150px;
    top: -20%;
    right: -0.55em;
  }
}
.p-sauna__subTitle {
  margin-top: 100px;
}
@media screen and (max-width: 768px) {
  .p-sauna__subTitle {
    position: absolute;
    bottom: -170px;
    left: 10%;
  }
}
.p-sauna__text {
  color: #626262;
  font-size: 12px;
  font-family: inherit;
}
@media screen and (max-width: 768px) {
  .p-sauna__text {
    font-size: 3vw;
    position: absolute;
    bottom: -256px;
    left: 10%;
  }
}
.p-sauna__img1 {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
@media screen and (min-width: 768px) {
  .p-sauna__img1 {
    width: 28vw;
    height: 36vw;
    left: 16%;
    bottom: -16px;
    transform: rotate(4deg);
  }
}
@media screen and (max-width: 768px) {
  .p-sauna__img1 {
    width: 80vw;
    height: 90%;
    top: 0;
    left: 20%;
    transform: rotate(-5deg);
  }
}
.p-sauna__img2 {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
@media screen and (min-width: 768px) {
  .p-sauna__img2 {
    width: 28vw;
    height: 36vw;
    bottom: 12px;
    left: 12%;
    transform: rotate(-1deg);
  }
}
@media screen and (max-width: 768px) {
  .p-sauna__img2 {
    width: 80vw;
    height: 90%;
    top: 0;
    left: 20%;
    transform: rotate(4deg);
  }
}
.p-sauna__img3 {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
@media screen and (min-width: 768px) {
  .p-sauna__img3 {
    width: 37vw;
    height: 27vw;
    left: 9%;
    bottom: 30px;
    transform: rotate(-2deg);
  }
}
@media screen and (max-width: 768px) {
  .p-sauna__img3 {
    width: 80vw;
    height: 90%;
    top: 0;
    left: 20%;
    transform: rotate(-5deg);
  }
}
.p-sauna__more a {
  text-decoration: none;
  color: #000;
}
@media screen and (max-width: 768px) {
  .p-sauna__more a {
    position: absolute;
    bottom: -70%;
    right: -8%;
    font-size: 3.2vw;
    line-height: 2.5;
  }
}

.p-activity {
  width: 100vw;
  height: 70vh;
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-activity {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 768px) {
  .p-activity {
    margin-bottom: 60vh;
  }
}
.p-activity__leftArea {
  width: 30vw;
}
.p-activity__rightArea {
  width: 30vw;
}
.p-activity__title {
  position: absolute;
  font-weight: 500;
  line-height: 0.8260869565;
  font-family: "Times New Roman";
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .p-activity__title {
    top: 0;
    left: 20%;
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 768px) {
  .p-activity__title {
    bottom: -130px;
    left: 15%;
    font-size: 3rem;
  }
}
.p-activity__title:before {
  content: "";
  display: block;
  background-color: #626262;
  width: 1px;
  height: 206px;
  position: absolute;
  top: 50%;
  right: 0.1em;
  transform-origin: 0 50%;
  transform: translateY(-50%) rotate(45deg);
}
@media screen and (max-width: 768px) {
  .p-activity__title:before {
    height: 150px;
    top: -20%;
    right: -0.55em;
  }
}
.p-activity__subTitle {
  margin-top: 100px;
}
@media screen and (max-width: 768px) {
  .p-activity__subTitle {
    position: absolute;
    bottom: -170px;
    left: 10%;
  }
}
.p-activity__text {
  color: #626262;
  font-size: 12px;
  font-family: inherit;
}
@media screen and (max-width: 768px) {
  .p-activity__text {
    font-size: 3vw;
    position: absolute;
    bottom: -305px;
    left: 10%;
  }
}
.p-activity__img1 {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
@media screen and (min-width: 768px) {
  .p-activity__img1 {
    width: 32vw;
    height: 27vw;
    right: 74px;
    bottom: 30px;
    transform: rotate(4deg);
  }
}
@media screen and (max-width: 768px) {
  .p-activity__img1 {
    width: 80vw;
    height: 90%;
    top: 0;
    left: 20%;
    transform: rotate(-5deg);
  }
}
.p-activity__img2 {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
@media screen and (min-width: 768px) {
  .p-activity__img2 {
    width: 28vw;
    height: 36vw;
    right: 90px;
    bottom: 0;
    transform: rotate(-1deg);
  }
}
@media screen and (max-width: 768px) {
  .p-activity__img2 {
    width: 80vw;
    height: 90%;
    top: 0;
    left: 20%;
    transform: rotate(4deg);
  }
}
.p-activity__more a {
  text-decoration: none;
  color: #000;
}
@media screen and (max-width: 768px) {
  .p-activity__more a {
    position: absolute;
    bottom: -80%;
    right: -8%;
    font-size: 3.2vw;
    line-height: 2.5;
  }
}

.p-journal {
  width: 100vw;
  height: 90vh;
  background-color: #e0dad4;
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-journal {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 768px) {
  .p-journal {
    margin: 0;
  }
}
.p-journal__title {
  position: absolute;
  top: 0;
  left: 20%;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 0.8260869565;
  font-family: "Times New Roman";
  z-index: 3;
}
@media screen and (max-width: 768px) {
  .p-journal__title {
    top: 48px;
    left: 10%;
    font-size: 3rem;
  }
}
.p-journal__title:before {
  content: "";
  display: block;
  background-color: #626262;
  width: 1px;
  height: 206px;
  position: absolute;
  top: 50%;
  right: 0.1em;
  transform-origin: 0 50%;
  transform: translateY(-50%) rotate(45deg);
}
@media screen and (max-width: 768px) {
  .p-journal__title:before {
    height: 150px;
    top: -20%;
  }
}
.p-journal__list ul {
  width: 60vw;
  display: flex;
  gap: 2vw;
  justify-content: center;
  list-style: none;
  margin-top: 113px;
  padding-inline-start: 0;
}
@media screen and (max-width: 768px) {
  .p-journal__list ul {
    position: absolute;
    width: 100vw;
    overflow: hidden;
  }
}
.p-journal img {
  width: 20vw;
  height: 160px;
  margin-top: 56px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  .p-journal img {
    width: 60vw;
  }
}
.p-journal span {
  border-bottom: 1px solid #000;
}
.p-journal a {
  text-decoration: none;
  color: #000;
  text-align: left;
  font-size: 12px;
}

.p-access {
  width: 100vw;
  position: relative;
  margin-bottom: 100px;
}
@media screen and (max-width: 768px) {
  .p-access {
    margin: 10vh 0;
  }
}
.p-access__title {
  position: absolute;
  font-weight: 500;
  line-height: 0.8260869565;
  font-family: "Times New Roman";
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .p-access__title {
    top: 50px;
    left: 20%;
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 768px) {
  .p-access__title {
    top: 0;
    left: 15%;
    font-size: 3rem;
  }
}
.p-access__title:before {
  content: "";
  display: block;
  background-color: #626262;
  width: 1px;
  height: 206px;
  position: absolute;
  top: 50%;
  right: 0.1em;
  transform-origin: 0 50%;
  transform: translateY(-50%) rotate(45deg);
}
@media screen and (max-width: 768px) {
  .p-access__title:before {
    height: 150px;
    top: -20%;
    right: -0.55em;
  }
}
.p-access__top {
  display: flex;
  padding-top: 180px;
}
@media screen and (min-width: 768px) {
  .p-access__top {
    justify-content: center;
    gap: 6vw;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .p-access__top {
    display: flex;
    flex-wrap: wrap-reverse;
  }
}
.p-access__leftArea {
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .p-access__leftArea {
    padding-top: 300px;
  }
}
@media screen and (max-width: 768px) {
  .p-access__leftArea {
    padding-left: 10%;
  }
}
.p-access__leftArea p:nth-child(4),
.p-access :nth-child(5) {
  font-weight: 700;
}
.p-access__leftArea p:nth-child(5) {
  margin-bottom: 40px;
}
.p-access__googleMap {
  color: #000;
  font-size: 16px;
  border: 1px solid #000;
  background-color: #fff;
  padding: 24px 48px 24px 36px;
  text-decoration: none;
  position: relative;
}
.p-access__googleMap:hover {
  color: #fff;
  background-color: #000;
}
.p-access__googleMap span::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../img/google_icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 29%;
  right: 10%;
}
.p-access__rightArea img {
  width: 45vw;
}
@media screen and (max-width: 768px) {
  .p-access__rightArea img {
    width: 100vw;
  }
}
.p-access__bottom {
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .p-access__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
  }
}
@media screen and (max-width: 768px) {
  .p-access__bottom {
    padding: 100px 10%;
  }
}
.p-access__bottom ul {
  list-style: none;
  padding-inline-start: 0;
}
.p-access__bottom ul:first-child {
  margin-bottom: 8%;
}

.p-bottomMenu {
  width: 100vw;
  height: 30vh;
  display: flex;
}
@media screen and (max-width: 768px) {
  .p-bottomMenu {
    height: 15vh;
  }
}
.p-bottomMenu a {
  text-decoration: none;
}
.p-bottomMenu__access {
  width: 50vw;
  height: 30vh;
  background: url(../img/welcome.jpg) no-repeat 100%/cover;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .p-bottomMenu__access {
    height: 15vh;
  }
}
.p-bottomMenu__access::after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.5;
}
.p-bottomMenu__accessTitle {
  position: absolute;
  top: calc(50% - 30px);
  right: 32px;
  z-index: 3;
  font-size: 60px;
  font-family: "Times New Roman";
  color: black;
}
@media screen and (max-width: 768px) {
  .p-bottomMenu__accessTitle {
    font-size: 12px;
    top: calc(50% - 6px);
  }
}
.p-bottomMenu__cafeBar {
  width: 50vw;
  height: 30vh;
  background: url(../img/hotel\ dinner.jpg) no-repeat 100%/cover;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .p-bottomMenu__cafeBar {
    height: 15vh;
  }
}
.p-bottomMenu__cafeBar::after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.5;
}
.p-bottomMenu__cafeBarTitle {
  position: absolute;
  top: calc(50% - 30px);
  left: 32px;
  z-index: 3;
  font-size: 60px;
  font-family: "Times New Roman";
  color: black;
}
@media screen and (max-width: 768px) {
  .p-bottomMenu__cafeBarTitle {
    font-size: 12px;
    top: calc(50% - 6px);
  }
}

.l-footer {
  width: 100vw;
  background-color: #7bcccf;
  color: #fff;
  font-size: 11px;
}
@media screen and (max-width: 768px) {
  .l-footer {
    position: relative;
    padding-top: 1px;
  }
}
@media screen and (min-width: 768px) {
  .l-footer__top {
    padding: 100px 0 0 250px;
  }
}
@media screen and (max-width: 768px) {
  .l-footer__top {
    padding-left: 10%;
  }
}
.l-footer a {
  color: #fff;
  text-decoration: none;
}
.l-footer__logo {
  width: 120px;
}
@media screen and (max-width: 768px) {
  .l-footer__logo {
    position: absolute;
    top: 60px;
    right: 10%;
  }
}
@media screen and (min-width: 768px) {
  .l-footer__flex {
    display: flex;
    gap: 10vw;
    line-height: 1.4;
    font-weight: 550;
  }
}
@media screen and (min-width: 768px) {
  .l-footer__infoArea {
    display: flex;
    gap: 2vw;
    align-items: end;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 768px) {
  .l-footer__leftInfo1 {
    padding-top: 60px;
  }
}
@media screen and (max-width: 768px) {
  .l-footer__leftInfo2 {
    display: none;
  }
}
.l-footer__leftInfo2 img {
  width: 14px;
}
.l-footer__rightInfo a:hover {
  opacity: 0.7;
  transition: all 0.1s;
}
@media screen and (min-width: 768px) {
  .l-footer__menuList {
    display: flex;
    gap: 2vw;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .l-footer__menuList {
    display: none;
  }
}
.l-footer__menuList ul {
  margin: 0;
}
.l-footer__menuList ul li {
  list-style: none;
}
.l-footer__menuList ul li a:hover {
  opacity: 0.7;
  transition: all 0.1s;
}
.l-footer__listPadding {
  padding-top: 2vw;
}
.l-footer__listPadding h2 {
  margin: 0;
}
.l-footer__listPadding p {
  margin: 0;
}
.l-footer h2:first-child {
  margin-top: 0;
}
.l-footer__others {
  background-color: black;
  padding: 100px;
  margin: 16px 0 0 250px;
}
@media screen and (max-width: 768px) {
  .l-footer__others {
    margin: 16px 0 0 10%;
    padding: 60px 10%;
  }
}
.l-footer__hotels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .l-footer__hotels {
    gap: 4vw;
    margin-top: 40px;
  }
}
@media screen and (max-width: 768px) {
  .l-footer__hotels {
    gap: 8vw;
    padding-inline-start: 0;
  }
}
.l-footer__hotels a:hover {
  opacity: 0.7;
  transition: all 0.1s;
}
.l-footer__hotels li {
  list-style: none;
}
@media screen and (min-width: 768px) {
  .l-footer__hotels li {
    width: 20%;
  }
}
.l-footer__hotels li img {
  width: 80px;
}
@media screen and (max-width: 768px) {
  .l-footer__hotels li img {
    width: 20vw;
  }
}
.l-footer small {
  margin-left: 250px;
}/*# sourceMappingURL=style.css.map */